<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/log-in.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs')%>
    <main class="main">
      <form action="/log-in" method="post" class="log-in-form">
        <label for="username">Username</label>
        <input
          autofocus="autofocus"
          required
          type="text"
          name="username"
          id="username"
          oninvalid="this.setCustomValidity('Enter User Name Here')"
          oninput="setCustomValidity('')" />
        <label for="password">Password</label>
        <input
          required
          type="password"
          name="password"
          id="password"
          oninvalid="this.setCustomValidity('Enter A Password')"
          oninput="setCustomValidity('')" />
        <button>Log In</button>
      </form>
    </main>
    <% if (locals.error) { %>
    <div class="error-message">
      <p><%= error %></p>
    </div>
    <% } %>
  </body>
</html>
