<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/sign-up.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main class="main">
      <form action="/sign-up" method="post" class="sign-up-form">
        <label for="fullname">Full name</label>
        <input
          autofocus
          required
          type="text"
          name="fullname"
          id="fullname"
          minlength="5"
          value="<%= fullname ? fullname : '' %>" />
        <label for="username">Username</label>
        <input
          required
          type="text"
          name="username"
          id="username"
          minlength="5"
          value="<%= username ? username : '' %>" />
        <label for="password">Password</label>
        <input required type="password" name="password" id="password" />
        <label for="confirmPassword">Confirm password</label>
        <input
          required
          type="password"
          name="confirmPassword"
          id="confirmPassword`" />
        <button>Sign up</button>
      </form>
    </main>
  </body>
</html>
