.wrapper {
  /* border: 2px solid green; */
  margin: auto;
  margin-top: 24px;
  width: 720px;
  padding: 8px;
  overflow-y: scroll;
  max-height: 500px;
}

.wrapper {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
.wrapper::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  background-color: hsl(240 50% 90%);
  padding: 12px;
  border: 2px solid hsl(240 50% 50%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: black;
}

.message .message-user {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}

.message .message-text {
  text-indent: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.message .date {
  font-size: 0.75rem;
}

.message .message-delete {
  background-color: white;
  color: hsl(0 100% 50%);
  font-size: 0.75rem;
  border: none;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
  text-decoration: none;
}
